.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.grants {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--background-light);
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
}

.organization {
  color: var(--brand);
  font-weight: bold;
}

.description {
  margin-bottom: 0.5rem;
  font-weight: 200;
  padding: 0.5rem 0 1rem 0;
}
