.home {
  display: grid;
  grid-template-columns: 60px 1fr;
  min-height: 100vh;
}

.main {
  width: 100%;
  overflow-x: hidden;
}

.gradientSection {
  height: 200px;
  background: linear-gradient(
    180deg,
    var(--background),
    var(--background-dark)
  );
}
